body, html {
    height: 100%;
    margin: 10px;
    font-family: monospace;
    font-size: smaller;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* This allows clicking through the canvas */
}
table {
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
}
input[type="number"] {
    margin-left: 5px; /* Adds some space around the inputs */
}
input[type="number"] {
    width: 40px; /* Fixed width for the number inputs */
}
input[type="range"] {
    flex-grow: 1; /* Allows the slider to fill the rest of the container */
}
#mainContent {}
#layoutRow1 {
    display: flex;
    align-items: flex-start; 
}
#plotSection {
    display: flex;
    align-items: flex-start; 
}
#canvas-container {
    position: relative;
    border: 1px solid black;
    flex-shrink: 0;
    margin: 5px;
}
#slider-container-outer {
    max-width: 300px;
    padding: 10px;
    border: 1px solid black;
    flex-shrink: 0;
    margin: 5px 0;
}
#shareRow {
    display: flex;
    align-items: center; 
    margin: 10px;
}
.sliderQuestion {
    margin: 0px;
    padding: 0px;
}
.accordion-header {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 900px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    border-bottom: 1px solid #ccc;
}
.accordion-header:hover {
    background-color: #ddd;
}
.accordion-content {
    padding: 10px 18px;
    max-width: 880px;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: Arial, sans-serif;
    font-size: medium;
    border: 2px solid black;
}
.plot {
    border: 1px solid black;
}
.nodeBox {
    position: absolute;
    border: 1px solid black;
    width: 100px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: 0;
}
.nodeText {
    position: absolute;
    text-align: center;
    width: 84px;
    transform: translate(-50%, -50%);
}
.edge-label {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}
.tablePercent {
    text-align: right;
    width: 30px;
}
.slider-container-inner {
    width: 100%;
    display: flex;
    align-items: center;
}
.shareButton {
    margin: 10px;
}